---
layout: default
---

<section class="posts" id="Posts">
    <h2>Posts</h2>
    {% include search.html %}
    <ul id="post-list">
        {% for post in site.posts %}
        <li>
            <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
        </li>
        {% endfor %}
    </ul>
</section>
