---
layout: default
---

<section class="posts" id="Recipes">
    <h2>Recipes</h2>
    {% include search.html %}
    <ul id="post-list">
        {% assign sorted = site.recipes | sort: 'title' %}
        {% for post in sorted %}
        <li>
            <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
        </li>
        {% endfor %}
    </ul>
</section>
