<div class="search-article">
    <label for="search-input" aria-hidden="true">
        <!-- Magnifier -->
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="rgba(128,128,128,0.8)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-search">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
    </label>
    <input type="search" id="search-input" placeholder="Search" aria-label="Search">
    <ul id="search-results"></ul>
</div>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/simple-jekyll-search.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function(){
        var sjs = SimpleJekyllSearch({
            searchInput: document.getElementById('search-input'),
            resultsContainer: document.getElementById('post-list'),
            json: '{{ site.url }}{{ site.baseurl }}/index{{ page.url }}.json',
            searchResultTemplate: '<li><a href="{url}" title="{description}">{title}</a><time datetime="{date_xml}">{date_ymd}</time></li>',
            noResultsText: 'No results found',
            fuzzy: true,
        })
    });
</script>
