*,
:after,
:before {
    box-sizing: border-box;
    background-color: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}

html {
    --page-width: 56rem;
    --text-font: Roboto, Verdana;
    --source-code-font: Roboto Mono, monospace;
    --very-light-text-color: #EEE;
    --light-text-color: #c4bbf0;
    --medium-text-color: #52057b;
    --main-text-color: #EAEAEA;
    --highlight-text-color: #6cb4a0;
    --dark-text-color: rgb(36, 38, 42);
    --link-color: rgb(255, 89, 125);
    --code-bg-color: rgb(36, 38, 42);
    background-color: rgb(19, 20, 24);
}

body {
    font-family: var(--text-font), monospace;
    text-rendering: optimizeLegibility;
    line-height: 1.75;
    color: var(--main-text-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.post p {
    margin: 1rem 0;
}

.meta {
    margin: 0rem 0 1.5rem 0;

}

code,
pre {
    background: var(--code-bg-color);
    margin: 0 -27px;
    border-width: 1px;
}

code {
    font-family: var(--source-code-font), monospace;
    margin: unset;
    padding: 0.1rem;
    color: var(--highlight-text-color);
}

pre code {
    background-color: unset;
    color: unset;
}

pre {
    border-width: 3px;
    padding: 0.8rem;
}

pre.highlight {
    white-space: pre;
    overflow-x: auto;
}

img {
    max-width: 100%;
}

hr {
    background: var(--light-text-color);
    height: 1px;
    border: 0;
}

header {
    flex-basis: 10rem;
    flex-grow: 1;
    position: relative;
}

header a {
    text-decoration: none;
}

header li {
    margin-bottom: 0.2rem;
    text-align: right;
    margin-right: 2rem;
}

header a.active {
    font-weight: bold;
}

header,
section {
    padding: 1rem 0;
}

section {
    margin-top: 1.5rem;
}

blockquote {
    font-style: italic;
    border-left: 5px solid var(--dark-text-color);
    padding-left: 1rem;
}

h1 {
    color: var(--main-text-color);
    // text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

h2,
h3,
h4,
h5 {
    font-weight: bold;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

section h1:first-child {
    margin-top: 0;
}

strong,
b {
    font-weight: bold;
}

.photos ul {
    list-style: none;
}

.photos li {
    margin-bottom: 1.5rem;
}

.photo picture,
.project picture {
    margin-bottom: 0.5rem;
}

.posts>h3 {
    font-weight: 500;
}

.post ul {
    margin: 0px;
    margin: 0px 0px 10px 10px;
}

.post ol {
    margin: 0px;
    margin: 0px 0px 10px 15px;
}

.posts li {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.posts li a,
.posts li div,
.projects li a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.posts li time,
.projects li time {
    padding-left: 1rem;
    white-space: nowrap;
    font-variant-numeric: tabular-nums;
}

time {
    color: var(--main-text-color);
}

.post>h1.title {
    font-size: x-large;
    margin-top: 0;
    margin-bottom: 0;
}

.post>time {
    margin-bottom: 0;
    margin-top: 0;
}

.highlight {
    margin: 0px;
}

main {
    display: flex;
    max-width: var(--page-width);
    margin: -5rem auto 0;
    padding: 2.4rem 2rem;
    flex-direction: column;
}

.flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    position: initial;

    .social-footer-icons {

        .fa {
            font-size: 1.3rem;
            color: #a9a9a9;

            &:hover {
                color: darken(#a9a9a9, 25%);
                transition: color 0.3s ease-in;
            }
        }
    }
}

.site-header {
    min-height: 1.865rem;
    line-height: 2.25rem;
    flex: 1;
}

.header-wrapper {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: var(--page-width);
    display: flex;
    justify-content: space-between;
}

.header-left a + a {
    margin-left: 1rem;
}

.header-right a + a {
    margin-left: 0.5rem;
}

.header-right svg {
    fill: var(--link-color);
    width: 32px;
    height: 32px;
}

.site-title {
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 0;
    justify-content: left;
}

.site-nav {
    position: absolute;
    top: 9px;
    right: 2rem;
    text-align: right;

    .nav-trigger {
        display: none;
    }

    .menu-icon {
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;

        >svg path {
            fill: red;
        }
    }

    label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
    }

    input~.trigger {
        clear: both;
        display: none;
    }

    input:checked~.trigger {
        display: block;
        padding-bottom: 5px;
    }

    .page-link {
        display: block;
        padding: 5px 10px;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 0;
        }

        margin-left: 20px;
    }

    @media screen and (min-width: 45rem) {
        position: static;
        float: right;
        border: none;
        background-color: inherit;

        label[for="nav-trigger"] {
            display: none;
        }

        .menu-icon {
            display: none;
        }

        input~.trigger {
            display: block;
        }

        .page-link {
            display: inline;
            padding: 0;

            &:not(:last-child) {
                margin-right: 20px;
            }

            margin-left: auto;
        }
    }
}

@media screen and (max-width: 45rem) {
    header li {
        display: inline;
        margin-right: 1rem;
    }

    .logo {
        padding-bottom: 1rem;
    }

    header ul {
        border-bottom: 1px solid #edf2f7;
        padding-bottom: 2rem;
    }

    nav ul {
        border-right: 0px;
    }

    .photos ul {
        margin-top: 0.5rem;
    }

    main {
        padding: 0 0.5rem;
    }

    .header-wrapper {
        flex-direction: column;
        .header-left {
            margin-bottom: 0.5rem;
        }
        > div {
            align-self: center;
        }
    }
}

section {
    flex-grow: 999;
    display: flex;
    flex-direction: column;
}

figcaption {
    font-size: smaller;
}

::selection {
    background-color: #fffba0;
    color: #333;
}


.search-article {
    position: relative;


    label[for="search-input"] {
        position: relative;
        top: -15px;
        left: 11px;
    }

    input[type="search"] {
        top: -1rem;
        left: 0;
        border: 0;
        width: 100%;
        height: 30px;
        outline: none;
        position: absolute;
        border-radius: 5px;
        padding: 10px 10px 10px 35px;
        color: var(--main-text-color);
        -webkit-appearance: none;
        background-color: rgba(128, 128, 128, 0.1);

        &::-webkit-input-placeholder {
            color: #808080;
        }

        &::-webkit-search-decoration,
        &::-webkit-search-results-decoration {
            display: none;
        }
    }
}

#search-results {
    text-align: center;

    li {
        text-align: center;
    }
}

.post-nav {
    display: flex;
    position: relative;
    margin-top: 0;
    border-top: 2px solid var(--light-text-color);
    line-height: 1.4;

    .post-nav-item {
        border-bottom: 0;
        padding-bottom: 10px;

        .post-title {
            color: var(--main-text-color);
        }

        &:hover,
        &:focus {
            .post-title {
                color: var(--link-color);
                opacity: 0.9;
            }
        }

        .nav-arrow {
            font-size: 17px;
            color: var(--main-text-color);
            margin-bottom: 3px;
            font-weight: bold;
        }

        width: 50%;
        padding-top: 10px;
        text-decoration: none;
        box-sizing: border-box;

        &:nth-child(odd) {
            padding-left: 0;
            padding-right: 20px;
        }

        &:nth-child(even) {
            text-align: right;
            padding-right: 0;
            padding-left: 20px;
        }
    }
}


.tags ul {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;

}


.tags li {
    white-space: normal;
    text-overflow: ellipsis;
}


// ------------------------------------
$link-color: var(--link-color);


.timeline {
    position: center;
    width: 650px;
    margin: -6em auto;
    padding: 1px;
    list-style-type: none;

    @media(max-width: 860px) {
        width: 100%;
    }

    &:before {
        position: absolute;
        left: 50%;
        top: 0;
        content: ' ';
        display: block;
        width: 6px;
        height: 100%;
        margin-left: -3px;
        background: var(--light-text-color);
        z-index: 5;

        @media(max-width: 375px) {
            height: 150%;
        }
    }

    li {
        padding: 2em 0;

        @media(max-width: 860px) {
            padding: 2em 0;
        }

        &::after {
            content: "";
            display: block;
            //height: 150%;
            clear: both;
            visibility: hidden;
        }
    }
}


.direction-l {
    position: relative;
    width: 287px;
    float: left;
    text-align: right;

    @media(max-width: 860px) {
        float: none;
        width: 100%;
        text-align: center;
    }

    .flag {
        color: #333;
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.52); // $color shadow

        &:after {
            content: "";
            position: absolute;
            left: 100%;
            top: 50%;
            height: 0;
            width: 0;
            margin-top: -8px;
            border: solid transparent;
            border-left-color: rgb(248, 248, 248);
            border-width: 8px;
            pointer-events: none;

            @media(max-width: 860px) {
                content: "";
                position: absolute;
                left: 50%;
                top: -8px;
                height: 0;
                width: 0;
                margin-left: -8px;
                border: solid transparent;
                border-bottom-color: rgb(255, 255, 255);
                border-width: 8px;
                pointer-events: none;
            }
        }
    }

    .time-wrapper {
        float: left;

        @media(max-width: 860px) {
            float: none;
        }
    }
}


.direction-r {
    position: relative;
    width: 293px;
    float: right;
    text-align: left;

    @media(max-width: 860px) {
        float: none;
        width: 100%;
        text-align: center;
    }

    .flag {
        color: #333;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.52); // $color shadow

        &:after {
            content: "";
            position: absolute;
            right: 100%;
            top: 50%;
            height: 0;
            width: 0;
            margin-top: -8px;
            border: solid transparent;
            border-right-color: rgb(248, 248, 248);
            border-width: 8px;
            pointer-events: none;

            @media(max-width: 860px) {
                content: "";
                position: absolute;
                left: 50%;
                top: -8px;
                height: 0;
                width: 0;
                margin-left: -8px;
                border: solid transparent;
                border-bottom-color: rgb(255, 255, 255);
                border-width: 8px;
                pointer-events: none;
            }
        }

        &:before {
            left: -40px;
        }
    }

    .time-wrapper {
        float: right;

        @media(max-width: 860px) {
            float: none;
        }
    }
}

.flag-wrapper {
    position: relative;
    display: inline-block;
    text-align: center;

    @media(max-width: 860px) {
        text-align: center;
    }

    .flag {
        position: relative;
        display: inline;
        background: rgb(248, 248, 248);
        padding: 6px 10px;
        border-radius: 5px;
        font-weight: 600;
        text-align: left;

        @media(max-width: 860px) {
            background: rgb(255, 255, 255);
            z-index: 15;
        }
    }
}

.direction-l .flag:before,
.direction-r .flag:before {
    position: absolute;
    top: 60%;
    right: -40px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid $link-color;
    z-index: 10;

    @media(max-width: 860px) {
        position: absolute;
        top: -30px;
        left: 53%;
        content: ' ';
        display: block;
        margin-left: -10px;
    }
}



.time-wrapper {
    display: inline;
    line-height: 1em;
    font-size: 0.66666em;
    color: $link-color;
    vertical-align: middle;

    @media(max-width: 860px) {
        display: block;
        position: relative;
        margin: 4px 0 0 0;
        z-index: 14;
    }

    .time {
        display: inline-block;
        padding: 4px 6px;
        background: rgb(248, 248, 248);
    }
}

.desc {
    margin: 1em 0.2em -3.5em 0;
    font-size: 0.9em;
    line-height: 1.5em;

    a {
        color: $link-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    @media(max-width: 860px) {
        position: relative;
        margin: 1em 1em 0 1em;
        padding: 1em;
        background: var(--code-bg-color);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
        z-index: 15;

    }
}