---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    {% include navbar.html %}
    <main>
        {% include anchor_headings.html html=content anchorBody="#" %}
    </main>
</body>
</html>
